<% @title = "トップページ" %>
<h1><%= @title %></h1>

<tr><th>残高: </th></tr><td><%= @balance %> sBTC</td>
<br>
<br>
<tr><th>送受信履歴</th></tr><br>
<% for i in 0..@listtransactions.length-1 %>
    <td><%= link_to @listtransactions[i]['txid'], "https://explorer.bc-2.jp/tx/" + @listtransactions[i]['txid'] %></td><br>
<% end %>

<%= render "shared/links" %>