<% @title = "送金" %>
<h1><%= @title %></h1>

<% if @txid %>
  <tr><th>TX: </th><td><%= link_to @txid, "https://explorer.bc-2.jp/tx/" + @txid, target: :_blank %></td>
<% elsif @message == "dust" %>
  送金額が低すぎます。0.00000294 sBTC以上で送金してください。
<% else %>
  送金できませんでした
<% end %>

<%= render "shared/links" %>